*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-div{
    background-image:url("C:\Users\hp\Downloads\n1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* width: 100%; */
    min-height: 100vh;
    height:contain;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 128, 128);
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}
.center-div{
    width: 40%;
    min-height: 30vh;
    height: auto;
    background-color: antiquewhite;
    box-shadow: 5px 5px 25px -5px black;
    border-radius: 25px;
}
h1{
    color: white;
    background: transparent;
    background-color: #8566aa;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 25px -5px black;
    margin-top: 25px;
}
input{
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom:2px solid #8566aa;
    outline: none;
}
.add-btn{
    border: none;
    min-height: 40px;
    width: 40px;
    border-radius: 45%;
    background-color: #8566aa;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    box-shadow: 0 9px #999;
   
}
button:active {
    transform: translateY(25px);
    
}
button:hover{
    color: red;
    background-color: lightgreen;
    transition: 1s ease;
   
}
ol{
    margin-top: 30px;
}
ol li{
    padding-left: 20px;
    font-size: 30px;
    display: inline-flex;
    min-height: 10px;
    width: auto;
    min-width:450px;
    color: #8566aa;
    text-transform: capitalize;
   
}
.delete-btn{
    border: none;
   margin-left: 10px;
   border-radius: 47%;
   padding: 1px;
   background-color: #8566aa;
   
}
.check-box{
    border: none;
    height: 50px;
    transform: scale(2.0);
    margin-left: 20px;
   border-radius: 55%;
   padding: 10px;
   
}
.each-item{
    display: inline-flex;
    margin-right: 100%;
}
.clr-btn{
    min-height: 40px;
    width: 150px;
    border-radius: 50px;
    border-color: transparent;
    background-color: #8566aa;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px black;
    margin-top: 5%;
}
@media screen and (max-width: 850px) {
    .center-div {
     width: 70%;
     min-height: 10vh;
    }
    .ol li{
        width: auto;
        min-width:550px;
    }
  }
  @media screen and (max-width: 500px) {
    .center-div {
     width: 100%;
    }
  }