.login-form{
    background-image:url("C:\Users\hp\Downloads\a2.webp");
    background-repeat: no-repeat;
    background-size: cover;
     width: 100%;height: 730px;
     border: 3px solid rgb(135, 68, 201);
     border-radius :100px;
     padding: 10px;
     display: block;
     font-family:cursive;
 }
 h1{
    color: rgb(255, 255, 255);
     padding-bottom: 30px;
     font-family:fantasy;   
 }
 h1:hover{
    color:lightcoral;
    transition: 1s ease;
    font-size: 45px;
    text-transform:uppercase ;
 }
 h3{
     padding: 15px;
     color: lightcoral;
 }
 .input{
     border-radius: 100px;
     border:none ;
     width: 40%;
     height: 50px;
 }
 .input:hover{
     background-color: rgb(227, 243, 227);
     transition: 1s ease;
 }
 .submit{
     margin-right: 5%;
     border: 1px solid grey;
     width: 15%;     
     height: 40px;
     border-radius: 20px;
     color:white;
     background-color: lightcoral;
     margin-top: 50px;
 }
 .submit:hover{
     background: transparent;
     border-color: lightcoral;
     color: lightcoral;
     transition: 1s ease;
 }
 .reset{
     background: transparent;
     border: 1px solid grey;
     width: 15%;
     height: 40px;
     border-radius: 20px;
     color:lightcoral;
     background-color: white;
 }
 .reset:hover{
     background: transparent;
     border-color: lightcoral;
     color: white;
     transition: 1s ease;
 }
 @media screen and (max-width: 500px) {
   .input{
    width: 80%;
   }
   .submit{
    width: 30%;
   }
   .reset{
    width: 30%;
   }
   .login-form{
    border-radius: 60px;
   }
  }
 