*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:monospace;
}
.main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(136, 128, 128);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-div{
    width: 35%;
    height: 90vh;
    background-color: antiquewhite;
    box-shadow: 5px 5px 25px -5px black;
    border-radius: 25px;
}
h1{
    color: white;
    background: transparent;
    background-color: #8566aa;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 25px -5px black;
    margin-top: 25px;
}
input{
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom:2px solid #8566aa;
    outline: none;
}
button{
    min-height: 40px;
    width: 40px;
    border-radius: 45%;
    border-color: transparent;
    background-color: #8566aa;
    color: white;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px black;
}
button:hover{
    background-color: lightgreen;
    transition: 1s ease;
}
ol{
    margin-top: 30px;
}
ol li{
    padding-left: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    min-height: 40px;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
   
}
.btn{
   border-radius: 50px;
   padding: 3px;
   background-color: #8566aa;
}
.map{
    display: inline-flex;
    margin-right: 100%;
}